
  /* Works on Chrome, Edge, and Safari */
.div-main-sidebar::-webkit-scrollbar {
    width: 12px;
}
.div-main-sidebar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border: 3px solid white;
}